<div class="film">
   <iframe src="<%=film.iframe%>"></iframe>
   <table>
        <caption><%=film.titlu%></caption>
        <tr>
            <th>Gen</th>
            <td><%=film.gen%></td>
        </tr>
        <tr>
            <th>Durata</th>
            <td><%=film.durata%></td>
        </tr>
        <tr>
            <th>Distributie</th>
            <td><%=film.distributie%></td>
        </tr>
        <tr>
            <th>Regizor</th>
            <td><%=film.regizor%></td>
        </tr>
        <tr>
            <th>Clasificare</th>
            <td><%=film.clasificare%></td>
        </tr>
   </table>
</div>